node-red/project/.flows.json.backup
[
    {
        "id": "tab_kiosk_inicio",
        "type": "tab",
        "label": "Kiosco Inicio",
        "disabled": false,
        "info": ""
    },
    {
        "id": "tab_kiosk_fin",
        "type": "tab",
        "label": "Kiosco Fin",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0da54e05378d8da6",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2a05c8f44d5e3b76",
        "type": "group",
        "z": "0da54e05378d8da6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "081cadba0ddffca8",
            "092d3a2a1908d4b2",
            "f554a6c2195d2fe5",
            "a825884854b3bc79",
            "5a0dabc2fee98853",
            "a0c605bb58301253"
        ],
        "x": 374,
        "y": 119,
        "w": 372,
        "h": 242
    },
    {
        "id": "ui_base_kiosk",
        "type": "ui-base",
        "name": "Kiosco Operadores",
        "path": "/dashboard",
        "appIcon": "account-clock",
        "includeClientData": false,
        "acceptsClientConfig": [
            "ui-notification"
        ],
        "showPathInSidebar": true,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 5,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "ui_theme_kiosk",
        "type": "ui-theme",
        "name": "Tema Kiosco",
        "colors": {
            "surface": "#ffffff",
            "primary": "#1976d2",
            "bgPage": "#f3f5f7",
            "groupBg": "#ffffff",
            "groupOutline": "#d9d9d9"
        }
    },
    {
        "id": "ui_page_kiosk_inicio",
        "type": "ui-page",
        "name": "Inicio de turno",
        "ui": "ui_base_kiosk",
        "path": "/inicio",
        "icon": "login",
        "layout": "grid",
        "theme": "ui_theme_kiosk",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ui_page_kiosk_fin",
        "type": "ui-page",
        "name": "Fin de turno",
        "ui": "ui_base_kiosk",
        "path": "/fin",
        "icon": "logout",
        "layout": "grid",
        "theme": "ui_theme_kiosk",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ui_group_inicio_header",
        "type": "ui-group",
        "name": "Encabezado",
        "page": "ui_page_kiosk_inicio",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "ui_group_inicio_form",
        "type": "ui-group",
        "name": "Registro de inicio",
        "page": "ui_page_kiosk_inicio",
        "width": "8",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "ui_group_inicio_nav",
        "type": "ui-group",
        "name": "Navegación",
        "page": "ui_page_kiosk_inicio",
        "width": "4",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "ui_group_fin_header",
        "type": "ui-group",
        "name": "Encabezado",
        "page": "ui_page_kiosk_fin",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "ui_group_fin_form",
        "type": "ui-group",
        "name": "Registro de fin",
        "page": "ui_page_kiosk_fin",
        "width": "8",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "ui_group_fin_nav",
        "type": "ui-group",
        "name": "Navegación",
        "page": "ui_page_kiosk_fin",
        "width": "4",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "6e9077d9fae8f198",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.2.167",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ui_text_inicio_header",
        "type": "ui-text",
        "z": "tab_kiosk_inicio",
        "group": "ui_group_inicio_header",
        "order": 1,
        "width": "12",
        "height": "0",
        "name": "Título Inicio",
        "label": "",
        "format": "<div style=\"font-size:28px;font-weight:700;\">Inicio de turno</div><div style=\"font-size:14px;color:#666;\">Vista previa del kiosco. Sin autenticación ni base de datos.</div>",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "",
        "className": "",
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "inject_inicio_demo",
        "type": "inject",
        "z": "tab_kiosk_inicio",
        "name": "Cargar demo inicio",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "{\"operador\":\"OP001\",\"pin\":\"\",\"turno\":\"A\",\"area\":\"TFH\",\"observaciones\":\"\"}",
        "payloadType": "json",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "ui_form_kiosk_inicio"
            ]
        ]
    },
    {
        "id": "ui_form_kiosk_inicio",
        "type": "ui-form",
        "z": "tab_kiosk_inicio",
        "name": "Formulario Inicio Kiosco",
        "group": "ui_group_inicio_form",
        "label": "Registrar inicio de turno",
        "order": 1,
        "width": "5",
        "height": "9",
        "options": [
            {
                "label": "ID del operador",
                "key": "operador",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "PIN",
                "key": "pin",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "Turno",
                "key": "turno",
                "type": "dropdown",
                "required": true,
                "rows": null
            },
            {
                "label": "Área",
                "key": "area",
                "type": "dropdown",
                "required": true,
                "rows": null
            },
            {
                "label": "Observaciones",
                "key": "observaciones",
                "type": "multiline",
                "required": false,
                "rows": 4
            }
        ],
        "formValue": {
            "operador": "",
            "pin": "",
            "turno": "",
            "area": "",
            "observaciones": ""
        },
        "payload": "",
        "submit": "INICIAR TURNO",
        "cancel": "LIMPIAR",
        "resetOnSubmit": false,
        "topic": "turno/inicio",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "dropdownOptions": [
            {
                "dropdown": "turno",
                "value": "A",
                "label": "Turno A"
            },
            {
                "dropdown": "turno",
                "value": "B",
                "label": "Turno B"
            },
            {
                "dropdown": "area",
                "value": "A",
                "label": "Área A"
            },
            {
                "dropdown": "",
                "value": "TFH",
                "label": "TFH"
            },
            {
                "dropdown": "",
                "value": "HTC",
                "label": "HTC"
            },
            {
                "dropdown": "",
                "value": "G",
                "label": "Gasificación"
            },
            {
                "dropdown": "",
                "value": "UTIL",
                "label": "Servicios"
            }
        ],
        "x": 280,
        "y": 280,
        "wires": [
            [
                "fn_kiosk_inicio_preview",
                "ui_notify_kiosk_inicio"
            ]
        ]
    },
    {
        "id": "fn_kiosk_inicio_preview",
        "type": "function",
        "z": "tab_kiosk_inicio",
        "name": "Vista previa inicio",
        "func": "const p = msg.payload || {};\nmsg.payload = {\n  evento: 'inicio_turno',\n  operador: p.operador || '',\n  pin: p.pin ? '••••' : '',\n  turno: p.turno || '',\n  area: p.area || '',\n  observaciones: p.observaciones || '',\n  fecha_hora_vista_previa: new Date().toISOString(),\n  estado: 'solo_frontend'\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 280,
        "wires": [
            [
                "ui_template_kiosk_inicio",
                "debug_kiosk_inicio"
            ]
        ]
    },
    {
        "id": "ui_template_kiosk_inicio",
        "type": "ui-template",
        "z": "tab_kiosk_inicio",
        "group": "ui_group_inicio_nav",
        "page": "",
        "ui": "",
        "name": "Vista previa inicio",
        "order": 1,
        "width": "4",
        "height": "0",
        "head": "",
        "format": "<template>\n  <div style=\"padding:10px;\">\n    <div style=\"font-size:16px;font-weight:700;margin-bottom:10px;\">Vista previa</div>\n    <div style=\"font-size:13px;color:#666;margin-bottom:10px;\">Aquí se mostrará el payload del inicio de turno.</div>\n    <pre style=\"white-space:pre-wrap;font-size:12px;background:#f7f7f7;padding:10px;border-radius:8px;border:1px solid #ddd;\">{{ msg.payload ? JSON.stringify(msg.payload, null, 2) : 'Sin envío todavía.' }}</pre>\n  </div>\n</template>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 780,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_btn_ir_fin",
        "type": "ui-button",
        "z": "tab_kiosk_inicio",
        "group": "ui_group_inicio_nav",
        "name": "Ir a fin",
        "label": "Ir a Fin de turno",
        "order": 2,
        "width": "4",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#d32f2f",
        "className": "",
        "icon": "logout",
        "iconPosition": "left",
        "payload": "{\"page\":\"/dashboard/fin\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "x": 770,
        "y": 340,
        "wires": [
            [
                "ui_control_nav"
            ]
        ]
    },
    {
        "id": "ui_control_nav",
        "type": "ui-control",
        "z": "tab_kiosk_inicio",
        "name": "Control navegación",
        "ui": "ui_base_kiosk",
        "x": 950,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_notify_kiosk_inicio",
        "type": "ui-notification",
        "z": "tab_kiosk_inicio",
        "ui": "ui_base_kiosk",
        "position": "top right",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 0,
        "allowDismiss": true,
        "dismissText": "",
        "raw": false,
        "className": "",
        "name": "Notificación inicio",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "debug_kiosk_inicio",
        "type": "debug",
        "z": "tab_kiosk_inicio",
        "name": "Debug inicio",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 770,
        "y": 400,
        "wires": []
    },
    {
        "id": "ui_text_fin_header",
        "type": "ui-text",
        "z": "tab_kiosk_fin",
        "group": "ui_group_fin_header",
        "order": 1,
        "width": "12",
        "height": "0",
        "name": "Título Fin",
        "label": "",
        "format": "<div style=\"font-size:28px;font-weight:700;\">Fin de turno</div><div style=\"font-size:14px;color:#666;\">Vista previa del kiosco. Sin autenticación ni base de datos.</div>",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "",
        "className": "",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "inject_fin_demo",
        "type": "inject",
        "z": "tab_kiosk_fin",
        "name": "Cargar demo fin",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "{\"operador\":\"OP001\",\"pin\":\"\",\"turno\":\"A\",\"area\":\"TFH\",\"observaciones\":\"\"}",
        "payloadType": "json",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "ui_form_kiosk_fin"
            ]
        ]
    },
    {
        "id": "ui_form_kiosk_fin",
        "type": "ui-form",
        "z": "tab_kiosk_fin",
        "name": "Formulario Fin Kiosco",
        "group": "ui_group_fin_form",
        "label": "Registrar fin de turno",
        "order": 1,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "ID del operador",
                "key": "operador",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "PIN",
                "key": "pin",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "Turno",
                "key": "turno",
                "type": "dropdown",
                "required": true,
                "rows": null
            },
            {
                "label": "Área",
                "key": "area",
                "type": "dropdown",
                "required": true,
                "rows": null
            },
            {
                "label": "Observaciones",
                "key": "observaciones",
                "type": "multiline",
                "required": false,
                "rows": 4
            }
        ],
        "formValue": {
            "operador": "",
            "pin": "",
            "turno": "",
            "area": "",
            "observaciones": ""
        },
        "payload": "",
        "submit": "FINALIZAR TURNO",
        "cancel": "LIMPIAR",
        "resetOnSubmit": false,
        "topic": "turno/fin",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "dropdownOptions": [
            {
                "dropdown": "turno",
                "value": "A",
                "label": "Turno A"
            },
            {
                "dropdown": "turno",
                "value": "B",
                "label": "Turno B"
            },
            {
                "dropdown": "area",
                "value": "A",
                "label": "Área A"
            },
            {
                "dropdown": "",
                "value": "TFH",
                "label": "TFH"
            },
            {
                "dropdown": "",
                "value": "HTC",
                "label": "HTC"
            },
            {
                "dropdown": "",
                "value": "G",
                "label": "Gasificación"
            },
            {
                "dropdown": "",
                "value": "UTIL",
                "label": "Servicios"
            }
        ],
        "x": 190,
        "y": 200,
        "wires": [
            [
                "fn_kiosk_fin_preview",
                "ui_notify_kiosk_fin"
            ]
        ]
    },
    {
        "id": "fn_kiosk_fin_preview",
        "type": "function",
        "z": "tab_kiosk_fin",
        "name": "Vista previa fin",
        "func": "const p = msg.payload || {};\nmsg.payload = {\n  evento: 'fin_turno',\n  operador: p.operador || '',\n  pin: p.pin ? '••••' : '',\n  turno: p.turno || '',\n  area: p.area || '',\n  observaciones: p.observaciones || '',\n  fecha_hora_vista_previa: new Date().toISOString(),\n  estado: 'solo_frontend'\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 200,
        "wires": [
            [
                "ui_template_kiosk_fin",
                "debug_kiosk_fin"
            ]
        ]
    },
    {
        "id": "ui_template_kiosk_fin",
        "type": "ui-template",
        "z": "tab_kiosk_fin",
        "group": "ui_group_fin_nav",
        "page": "",
        "ui": "",
        "name": "Vista previa fin",
        "order": 1,
        "width": "4",
        "height": "0",
        "head": "",
        "format": "<template>\n  <div style=\"padding:10px;\">\n    <div style=\"font-size:16px;font-weight:700;margin-bottom:10px;\">Vista previa</div>\n    <div style=\"font-size:13px;color:#666;margin-bottom:10px;\">Aquí se mostrará el payload del fin de turno.</div>\n    <pre style=\"white-space:pre-wrap;font-size:12px;background:#f7f7f7;padding:10px;border-radius:8px;border:1px solid #ddd;\">{{ msg.payload ? JSON.stringify(msg.payload, null, 2) : 'Sin envío todavía.' }}</pre>\n  </div>\n</template>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_btn_ir_inicio",
        "type": "ui-button",
        "z": "tab_kiosk_fin",
        "group": "ui_group_fin_nav",
        "name": "Ir a inicio",
        "label": "Ir a Inicio de turno",
        "order": 2,
        "width": "4",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#2e7d32",
        "className": "",
        "icon": "login",
        "iconPosition": "left",
        "payload": "{\"page\":\"/dashboard/inicio\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "x": 670,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_notify_kiosk_fin",
        "type": "ui-notification",
        "z": "tab_kiosk_fin",
        "ui": "ui_base_kiosk",
        "position": "top right",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 0,
        "allowDismiss": true,
        "dismissText": "",
        "raw": false,
        "className": "",
        "name": "Notificación fin",
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "debug_kiosk_fin",
        "type": "debug",
        "z": "tab_kiosk_fin",
        "name": "Debug fin",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "081cadba0ddffca8",
        "type": "Memory",
        "z": "0da54e05378d8da6",
        "g": "2a05c8f44d5e3b76",
        "name": "",
        "scale": "Gigabyte",
        "x": 460,
        "y": 320,
        "wires": [
            [
                "a0c605bb58301253"
            ]
        ]
    },
    {
        "id": "b41a7131b0f1cbfb",
        "type": "inject",
        "z": "0da54e05378d8da6",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "081cadba0ddffca8",
                "092d3a2a1908d4b2",
                "54d8ba6e35ab52e4",
                "f554a6c2195d2fe5",
                "74a637bc984f8364"
            ]
        ]
    },
    {
        "id": "30a32d805325cf7e",
        "type": "mqtt out",
        "z": "0da54e05378d8da6",
        "name": "",
        "topic": "raspi/mem",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e9077d9fae8f198",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "092d3a2a1908d4b2",
        "type": "Uptime",
        "z": "0da54e05378d8da6",
        "g": "2a05c8f44d5e3b76",
        "name": "",
        "x": 480,
        "y": 160,
        "wires": [
            [
                "5a0dabc2fee98853"
            ]
        ]
    },
    {
        "id": "54d8ba6e35ab52e4",
        "type": "exec",
        "z": "0da54e05378d8da6",
        "command": "cat /sys/class/thermal/thermal_zone0/temp",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 370,
        "y": 500,
        "wires": [
            [
                "280e1f43f8483178"
            ],
            [],
            []
        ]
    },
    {
        "id": "280e1f43f8483178",
        "type": "function",
        "z": "0da54e05378d8da6",
        "name": "function 1",
        "func": "msg.topic = \"cpu_temp_c\";\nmsg.payload = Number((parseFloat(msg.payload) / 1000).toFixed(1));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 500,
        "wires": [
            [
                "906f06fa141a63fe",
                "81f0c1c4fbd0ea3d"
            ]
        ]
    },
    {
        "id": "906f06fa141a63fe",
        "type": "mqtt out",
        "z": "0da54e05378d8da6",
        "name": "",
        "topic": "raspi/temp",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e9077d9fae8f198",
        "x": 930,
        "y": 500,
        "wires": []
    },
    {
        "id": "81e765d466ea0b20",
        "type": "mqtt out",
        "z": "0da54e05378d8da6",
        "name": "",
        "topic": "raspi/uptime",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e9077d9fae8f198",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "f554a6c2195d2fe5",
        "type": "Drives",
        "z": "0da54e05378d8da6",
        "g": "2a05c8f44d5e3b76",
        "name": "",
        "x": 470,
        "y": 240,
        "wires": [
            [
                "a825884854b3bc79"
            ]
        ]
    },
    {
        "id": "a033d9128188ecef",
        "type": "mqtt out",
        "z": "0da54e05378d8da6",
        "name": "",
        "topic": "raspi/drives",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e9077d9fae8f198",
        "x": 870,
        "y": 240,
        "wires": []
    },
    {
        "id": "436df43132a0bd6e",
        "type": "mqtt out",
        "z": "0da54e05378d8da6",
        "name": "",
        "topic": "raspi/timestamp",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e9077d9fae8f198",
        "x": 1000,
        "y": 80,
        "wires": []
    },
    {
        "id": "a825884854b3bc79",
        "type": "function",
        "z": "0da54e05378d8da6",
        "g": "2a05c8f44d5e3b76",
        "name": "function 2",
        "func": "let drives = msg.payload;\n\nlet disk = drives.find(d =>\n    d.mount === \"/data\" ||\n    d.filesystem.includes(\"mmcblk\")\n);\n\nif (!disk) {\n    return null;\n}\n\nmsg.topic = \"disk_percent\";\nmsg.payload = Number((disk.capacity * 100).toFixed(1));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 240,
        "wires": [
            [
                "a033d9128188ecef",
                "81f0c1c4fbd0ea3d"
            ]
        ]
    },
    {
        "id": "5a0dabc2fee98853",
        "type": "function",
        "z": "0da54e05378d8da6",
        "g": "2a05c8f44d5e3b76",
        "name": "function 3",
        "func": "msg.topic = \"uptime\";\nmsg.payload = Math.floor(msg.payload.uptime);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 160,
        "wires": [
            [
                "81e765d466ea0b20",
                "81f0c1c4fbd0ea3d"
            ]
        ]
    },
    {
        "id": "81f0c1c4fbd0ea3d",
        "type": "join",
        "z": "0da54e05378d8da6",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1070,
        "y": 360,
        "wires": [
            [
                "707109b992bc7c54"
            ]
        ]
    },
    {
        "id": "707109b992bc7c54",
        "type": "mqtt out",
        "z": "0da54e05378d8da6",
        "name": "",
        "topic": "raspi/Data",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e9077d9fae8f198",
        "x": 1250,
        "y": 360,
        "wires": []
    },
    {
        "id": "a0c605bb58301253",
        "type": "function",
        "z": "0da54e05378d8da6",
        "g": "2a05c8f44d5e3b76",
        "name": "function 4",
        "func": "msg.topic = \"ram_percent\";\nmsg.payload = Number(msg.payload.memusage);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 320,
        "wires": [
            [
                "30a32d805325cf7e",
                "81f0c1c4fbd0ea3d"
            ]
        ]
    },
    {
        "id": "74a637bc984f8364",
        "type": "function",
        "z": "0da54e05378d8da6",
        "name": "function 5",
        "func": "msg.topic = \"timestamp\";\nmsg.payload = new Date().toISOString();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 80,
        "wires": [
            [
                "436df43132a0bd6e",
                "81f0c1c4fbd0ea3d"
            ]
        ]
    }
]